fastapi
uvicorn[standard]
langchain-openai
httpx
sqlalchemy
python-dotenv
pydantic
python-multipart
pdfplumber
python-docx
chromadb
numpy
pandas
langchain-chroma
langchain-text-splitters
streamlit
requests
langgraph
xgboost
scikit-learn
joblib

